/* styles.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
}

input[type="text"] {
  padding: 8px;
  margin-right: 5px;
}

button {
  padding: 8px 20px;
  cursor: pointer;
  background-color: #f44336;
  color: white;
  border: none;
}

button:hover {
  background-color: #d32f2f;
}

#movieContainer {
  width: 80%;
  margin: 20px auto;
}

.movie {
  display: flex;
  border: 1px solid #ccc;
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
}

.movie img {
  width: 120px; /* Adjust image size */
  height: auto;
  margin-right: 20px;
}

.movie-info {
  flex: 1; /* Fill remaining space */
}

.movie h2 {
  margin-top: 0;
  margin-bottom: 10px; /* Adjust spacing */
}

.movie p {
  margin-bottom: 0;
}
